body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #2C363F;
    font-family: 'IBM Plex Mono', monospace;
    color: #F2F5EA;
    margin: 0px;
}

.heading{
    color: #F2F5EA;
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    margin-bottom: 30px;
}

.container{
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    gap: 50px;
}

/*Color Picker*/
#colorPicker{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 200px;
    height: 200px;
}

.options label{
    font-size: 1.2em;
}
/* --colorPicker */

.drawBoard{
    width: 720px;
    height: 720px;
    background: #F2F5EA;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-family: 'IBM Plex Mono', monospace;
    background: none;
    font-size: 1.2em;
    color: #F2F5EA;
    margin: 10px;
    border-color: #FF8966;
    border-radius: 15px;
}

button:hover{
    background: black;
}

button:active{
    background: black;
}

.options button{
    width: 200px;
    height: 50px;
}

.sizes button{
    width: 100px;
}

.footer{
    margin-top: auto;
    margin-bottom: 10px;
    color: #F2F5EA;
    display: flex;
    justify-content: center;
}