body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #2C363F;
    font-family: 'IBM Plex Mono', monospace;
}

.heading{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    margin-bottom: 30px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.drawBoard{
    width: 720px;
    height: 720px;
    background: white;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-family: 'IBM Plex Mono', monospace;
    background: none;
    font-size: 1.2em;
    color: #F2F5EA;
    margin: 10px;
    border-color: #FF8966;
    border-radius: 15px;
}

.options button{
    width: 200px;
    height: 50px;
}

.sizes button{
    width: 100px;
}